@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* "reset" */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

/* header */
.phone-header {
  background: #020085;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.phone-header ul {
  display: flex;
  gap: 20px;
  max-width: 894px;
  width: 100%;
  justify-content: end;
}

.phone-header ul li {
  color: #F0FCFF;
}

/* header navbar */
.nav {
  padding: 5px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .navbar {
  display: flex;
  height: 90px;
  max-width: 880px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav .navbar .logo {
  background: #020085;
  color: #fff;
  padding: 20px 45px;
}

.nav .navbar .logo p {
  background: #020085;
}


.nav .navbar .menu {
  height: 90px;
  display: flex;
  gap: 20px;
  align-items: end;
  padding: 0px 0px 5px 0px;
}

.menu a {
  color: #B1B1B1;
  font-weight: 500;
}

/* dropdown */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #020085;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Submenu */
.submenu {
  position: relative;
  display: inline-block;
}

.submenu-content {
  display: none;
  position: absolute;
  background-color: #020085;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  top: 0;
  left: 100%;
}

.dropdown-content, .submenu-content {
  text-align: center;
}

:is(.dropdown-content, .submenu-content) a {
  color: #FFF;
  padding: 5px 0px 5px 0px;
  display: block;
}

.submenu:hover .submenu-content {
  display: block;
}

/* slider */

.slider-container {
  background: #D1D1D1;
}

.slider-content {
  margin: 0 auto;
  max-width: 894px;
  width: 100%;
}

#slider img {
  max-height: 290px;
  height: 100%;
  max-width: 894px;
  width: 100%;
}

/* text container */

.text-container-img {
  max-height: 212px;
  height: 100%;
  max-width: 325px;
  width: 100%;
}

.text-container {
  margin: 0 auto;
  max-width: 894px;
  width: 100%;
  text-align: justify;
  color: #B1B1B1;
}

.text-container .text-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.text-container .text-content .text-content-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.text-container .text-content .text-content-details ul {
  margin-left: 20px;
}

.text-container .text-content .text-content-details ul li {
  list-style-type: "• ";
}